*.pyc
.coverage
.env
.env.prod
.env.staging
.ipynb_checkpoints
.pytest_cache/
.python-version
__pycache__/
data/
postgres/
staticfiles/

# IDE
.idea
.vscode/

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim
Sessionx.vim
