aiohttp==3.4.4
cached-property==1.5.1
dj-database-url==0.5.0
Django==2.1.4
django-bulk-update==2.2.0
django-cors-headers==2.4.0
django-redis==4.10.0
git+git://github.com/Mikhail517/mixer.git@develop#egg=mixer  # unitl mixer adds suport to Django 2.1
psycopg2-binary==2.7.6.1
python-decouple==3.1
pytz==2018.7
requests==2.21.0
restless==2.1.1
rows==0.3.1
tqdm==4.28.1
Unidecode==1.0.23

# dev
aioresponses==0.5.0
codecov==2.0.15
django-extensions==2.1.4
ipdb==0.11
pytest==4.0.2
pytest-cov==2.6.0
pytest-django==3.4.4
pytest-mock==1.10.0

# prod
gunicorn==19.9.0
