# api
dj-database-url==0.5.0
Django==2.0.7
psycopg2==2.7.5
python-decouple==3.1
python-Levenshtein==0.12.0
restless==2.1.1
rows==0.3.1

#api tests
pytest==3.6.3
pytest-django==3.3.2

# dev
django-extensions==2.1.0
ipdb==0.11
Unidecode==1.0.22
