aiohttp==3.6.2
cached-property==1.5.1
dj-database-url==0.5.0
Django==3.0.8
django-bulk-update==2.2.0
django-cors-headers==3.4.0
django-redis==4.12.1
psycopg2-binary==2.8.5
python-decouple==3.3
pytz==2020.1
requests==2.24.0
restless==2.1.1
rows==0.4.1
tqdm==4.48.0
Unidecode==1.1.1

# dev
aioresponses==0.6.4
codecov==2.1.8
django-extensions==3.0.3
ipdb==0.13.3
mixer==6.1.3
pytest==6.0.1
pytest-cov==2.7.1
pytest-django==3.5.1
pytest-mock==1.10.4

# prod
gunicorn==19.9.0
