{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Perfil político</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="keywords" content="eleições;candidatos;política" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="copyright" content="&copy; 2018" />

        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache,no-store" />
        <meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT" />

        <link href="{% static 'css/style.css?v=1.0.0' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div class="box-content first" id="box1">
            <div class="column">

                <div id="top-bar">
                    <a href="#" class="top-icon">
                      <img src="{% static 'images/profiles.svg' %}">
                    </a>
                    <div class="top-text"><span>perfil</span> político</div>
                    <a href="#" class="top-menu">
                      <img src="{% static 'images/menu.svg' %}">
                    </a>
                </div>
                <div class="centered" id="intro">
                    <span>Cargo:
                    <div class="select-box">
                    <select id="filtro-cargo" data-name="cargo">
                        <!-- populated -->
                    </select>
                    </div>
                    </span>

                    <span class="last">Estado:
                    <div class="select-box">
                        <select id="filtro-estado" data-name="estado">
                            <!-- populated -->
                        </select>
                    </div>
                    </span>
                </div>
                <div class="column description"></div>
            </div>
        </div>
        <div class="d-height first"></div>

        <div id="bottom-bar">
            <div id="tags">
                <div class="column description">
                    Escolha uma opção para filtrar:
                </div>
            </div>
            <div class="column">
                <div class="custom-select" id="questions">
                    <select id="filtro-perguntas" data-name="estado">
                        <option value="">
                        Selecione uma pergunta...</option>
                        <option value="nunca eleitos" data-test="1">
                        Quantos nunca foram eleitos?</option>
                        <option value="nunca concorreram">
                        Quantos nunca concorreram?</option>
                        <option value="mulheres">
                        Quantas são mulheres?</option>
                        <option value="negros ou pardos">
                        Quantos são negros ou pardos?</option>
                    </select>
                </div>
                <div class="select-box inverted" id="search-box">
                    <input list="candidate-list" id="name-search" placeholder="Busque por nome" size="35">
                    <datalist id="candidate-list">
                    </datalist>
                </div>
            </div>
        </div>

        <div class="box" id="full-info" class="hidden">

            <div class="column">
                <div class="text-col" id="profile-pic">
                  <span class="img-mask"><img src="{% static 'images/profile-pic.jpg' %}" /></span>
                </div>
                <div class="text-col last" id="profile-name">
                    Nome do candidato
                </div>

                <div class="text-col" id="basic-info">
                    <p><b>Partido:</b>
                        <span id="info-partido">PDT - SP</span>
                    </p>
                    <p><b>Profissão:</b>
                        <span id="info-profissao">empresária</span>
                    </p>
                    <p><b>Idade:</b>
                        <span id="info-idade">42</span>
                    </p>
                    <p><b>Escolaridade:</b>
                        <span id="info-estudo">ensino superior completo</span>
                    </p>
                    <p><b>Cor/Raça:</b>
                        <span id="info-raca">branca</span>
                    </p>
                    <p><b>Coligação:</b>
                        <span id="info-coliga">PDT / PWW / PQP</span>
                    </p>
                </div>

                <div class="last" id="chart1">

                </div>

                <div id="chart2-title">
                    Patrimônio e histórico partidário
                </div>
                <div id="chart2">

                </div>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

        <div id="info-box" class="hidden"></div>

        <div id="msg-box" class="hidden"> </div>

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'js/bundle.js' %}"></script>
    </body>
</html>
