/******** CSS reset **********/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****** END: CSS reset ******/
/* sizes */
/* Fonts */
/* Museo font face is free on the weights used in this project */
/* Museo is a font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Museo';
  src: url("../fonts/museo-300-webfont.woff2") format("woff2"), url("../fonts/museo-300-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo';
  src: url("../fonts/museo-700-webfont.woff2") format("woff2"), url("../fonts/museo-700-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/* main rules */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font: 62.5% "Museo", sans-serif; }

body {
  width: 100%;
  min-width: 290px;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  top: 0;
  font-weight: 300;
  color: #222;
  letter-spacing: 0.06rem; }

*, p {
  box-sizing: border-box;
  font: 1.7rem "Museo", sans-serif;
  line-height: 2.8rem;
  -webkit-overflow-scrolling: touch; }
  @media (max-width: 480px) {
    *, p {
      font: 1.4rem "Museo", sans-serif;
      line-height: 2.4rem; } }

b, strong {
  font-weight: 700; }

a {
  color: #5a44a0; }

#top-bar {
  border: 1.5px solid #5a44a0;
  height: 98px;
  width: 560px;
  margin: 30px auto 40px auto;
  font-size: 0; }
  #top-bar .top-icon, #top-bar .top-menu {
    width: 82px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: -7px 0 0 0; }
    #top-bar .top-icon img, #top-bar .top-menu img {
      display: inline-block;
      width: 48px; }
    @media (max-width: 580px) {
      #top-bar .top-icon, #top-bar .top-menu {
        width: 60px;
        margin: -2px 0 0 0; }
        #top-bar .top-icon img, #top-bar .top-menu img {
          width: 32px; } }
    @media (max-width: 380px) {
      #top-bar .top-icon, #top-bar .top-menu {
        width: 43px;
        margin: -1px 0 0 0; }
        #top-bar .top-icon img, #top-bar .top-menu img {
          width: 28px; } }
  #top-bar .top-icon {
    margin: -7px 0 0 10px; }
    @media (max-width: 580px) {
      #top-bar .top-icon {
        margin: 0; } }
  #top-bar .top-menu {
    margin: -7px 0 0 10px; }
    @media (max-width: 580px) {
      #top-bar .top-menu {
        margin: 0; } }
  #top-bar .top-text {
    width: calc(560px - 196px);
    display: inline-block;
    font: 5rem "Museo", sans-serif;
    font-weight: 700;
    line-height: 9.4rem;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    color: #5a44a0; }
    @media (max-width: 580px) {
      #top-bar .top-text {
        font-size: 3.2rem;
        line-height: 6rem;
        width: calc(100% - 130px); } }
    @media (max-width: 380px) {
      #top-bar .top-text {
        font-size: 2.4rem;
        line-height: 5rem;
        width: calc(100% - 90px); } }
    #top-bar .top-text span {
      color: #92cc48; }
  @media (max-width: 580px) {
    #top-bar {
      width: calc(100% - 20px);
      margin: 2.8rem 10px 3.2rem 10px;
      height: 68px; } }
  @media (max-width: 380px) {
    #top-bar {
      width: calc(100% - 20px);
      margin: 1.4rem 10px 3.2rem 10px;
      height: 54px; } }

.centered {
  text-align: center; }

.all-centered {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

#main {
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 1.7rem; }
  @media (max-width: 430px) {
    #main {
      font-size: 1.4rem; } }

.block {
  width: 100%;
  height: calc(100% - 11rem);
  z-index: 0;
  font-size: 1.7rem;
  padding: 30px 0;
  position: relative; }

#intro {
  padding: 0 12px;
  height: 50%; }
  #intro span {
    display: inline-block;
    width: 50%;
    height: 5rem;
    line-height: 6.2rem;
    max-width: 280px;
    vertical-align: middle; }
    #intro span .select-box {
      display: inline-block;
      width: calc(100% - 90px);
      padding-right: 25px;
      vertical-align: top;
      float: right;
      margin: 1.4rem 0; }
  @media (max-width: 580px) {
    #intro span {
      display: inline-block;
      width: 100%;
      max-width: 400px; }
      #intro span.last {
        margin-right: 0; } }

.column {
  max-width: 960px;
  margin: 0 auto 2.8rem auto;
  padding: 0 14px;
  position: relative;
  /*.col6-6, .col5-6, .col4-6, .col3-6, .col2-6, .col1-6{
    float: left;
    margin: 2.8rem $inter-column 0 0;

    @media (max-width: 430px){
      margin-right: $inter-column-small;
    }
  }

  .col6-6{
    width: 100%;
    @media (max-width: 680px){
      width: 100%;
      margin-left: 0;
    }
  }
  .col5-6{
    width: calc( (( (100% - (24px)*5) / 6 ) * 5 + (24px*4) );
    @media (max-width: 680px){
      width: 100%;
      margin-left: 0;
    }
  }
  .col4-6{
    width: calc( (( (100% - (24px)*5) / 6 ) * 4 ) + (24px*3) );
    @media (max-width: 680px){
      width: 100%;
      margin-left: 0;
    }
  }
  .col3-6{
    width: calc( (( (100% - (24px)*5) / 6 ) * 3 ) + (24px*2) );

    @media (max-width: 680px){
      width: 100%;
      margin-left: 0;
    }
  }

  .col2-6{
    width: calc( (( (100% - (24px)*5) / 6 ) * 2 ) + (24px*1) );
    @media (max-width: 680px){
      width: calc( (( (100% - (24px)*2) / 3 ) * 2 ) + (24px*1) );
    }
    @media (max-width: 430px){
      width: calc( (( (100% - 20px) / 2 ) ) );
    }
  }
  .col1-6{
    width: calc( ( (100% - (24px*5)) / 6 ) * 1 );
    @media (max-width: 680px){
      width: calc( (( (100% - (24px*2)) / 3 ) * 1 ) + (24px*0) );
    }
    @media (max-width: 430px){
      width: calc( (( (100% - (24px*2)) / 3 ) ) );
    }
  }*/ }
  .column .last {
    margin-right: 0; }
  .column #profile-pic {
    width: calc( ( (100% - (24px*5)) / 6 ) * 1);
    position: relative; }
    .column #profile-pic .img-mask:before {
      content: "";
      display: block;
      width: 100%;
      height: calc(100% - 34px);
      position: absolute;
      background: rgba(104, 67, 163, 0.05);
      /*rgba(104,67,103,0.12);*/
      z-index: 1; }
    .column #profile-pic a {
      content: "";
      display: block;
      width: 100%;
      position: relative;
      background: #5a44a0;
      height: 2.8rem;
      margin-top: 5px;
      z-index: 10;
      color: #fff;
      font: 1.4rem "Helvetica", Arial, sans-serif;
      text-decoration: none;
      vertical-align: middle;
      line-height: 2.8rem;
      text-align: center; }
    .column #profile-pic img {
      width: 100%;
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
      filter: gray;
      filter: grayscale(100%) contrast(110%) brightness(120%); }
    @media (max-width: 960px) {
      .column #profile-pic {
        width: 160px; } }
    @media (max-width: 430px) {
      .column #profile-pic {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        float: none;
        border: 2px solid #eeedf4; }
        .column #profile-pic .img-mask {
          display: inline-block;
          width: calc(100% - 60px);
          padding: 30px 0;
          z-index: 10; }
          .column #profile-pic .img-mask:before {
            width: calc(100% - 60px);
            height: calc(100% - 94px); }
        .column #profile-pic a {
          background: transparent;
          color: #5a44a0;
          position: absolute;
          display: none; }
        .column #profile-pic img {
          width: 100%;
          z-index: 100;
          border: 2px solid #fff; } }
  .column #profile-name {
    font: 3.2rem "Museo", sans-serif;
    color: #5a44a0;
    width: calc( (( (100% - (24px)*5) / 6 ) * 5 ) + (24px*4));
    text-align: left; }
    @media (max-width: 960px) {
      .column #profile-name {
        font: 2.8rem "Museo", sans-serif;
        width: calc( 100% - 160px - 24px);
        margin: 2.8rem 0 0 0; } }
    @media (max-width: 430px) {
      .column #profile-name {
        text-align: left;
        width: 100%;
        max-width: 250px;
        margin: 2.8rem auto;
        float: none; } }
  .column #basic-info {
    width: calc( (( (100% - (24px)*5) / 6 ) * 2 ) + (24px*1));
    margin: 2.8rem 24px 0 0; }
    @media (max-width: 960px) {
      .column #basic-info {
        width: calc( 100% - 160px - 24px);
        margin: 2.8rem 0 0 0; } }
    @media (max-width: 430px) {
      .column #basic-info {
        width: 100%;
        max-width: 250px;
        margin: 2.8rem auto 0 auto;
        float: none;
        clear: both; } }
  @media (max-width: 960px) {
    .column {
      max-width: 560px; } }

.text-col {
  float: left;
  margin: 2.8rem 24px 0 0; }
  @media (max-width: 430px) {
    .text-col {
      max-width: 250px;
      margin: 2.8rem auto;
      float: none;
      clear: both; } }

#chart1 {
  height: 170px;
  width: calc( (100% - 24px) / 2);
  margin: 2.8rem 0 0 0;
  border: 1px solid #eeedf4;
  padding: 10px;
  float: right; }
  @media (max-width: 960px) {
    #chart1 {
      width: 100%; } }

h2 {
  font: 3.2rem "Museo", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 4.2rem 0 2.8rem 0;
  background-color: #eeedf4; }
  h2 .column {
    color: #5a44a0;
    padding: 2.8rem 10px;
    margin: 0 auto;
    line-height: 4.2rem; }

h3 {
  font: 3.2rem "Museo", sans-serif;
  font-weight: 700;
  color: #92cc48; }

#bottom-bar {
  font: 3.2rem "Museo", sans-serif;
  background-color: #5a44a0;
  color: #fff;
  padding: 0;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000; }
  #bottom-bar .column {
    color: #fff;
    padding: 3.2rem 10px;
    margin: 0 auto;
    line-height: 4.2rem; }

/*
#top-bar{
  width: 100%;
  text-align:center;
  border-bottom: 2px solid #efefef;
  overflow: hidden;

  img{
    border-left: 2px solid #efefef;
  }
}


h1, h2, h3, h4, h5 {
  font-family: $font-detail;
  color: #184479;
}
h1{
  font-size: 3.2rem;
  margin: 0 0 2rem 0;
  width: 100%;

  @media (max-width: 800px){
    font-size: 2.8rem;
  }

  @media (max-width: 480px){
    font-size: 2.4rem;
  }
}

.hat{
  color: $alt-color;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 3rem 0 1rem 0;

  @media (max-width: 800px){
    font-size: 1.2rem;
    margin: 7rem 0 1rem 0;
  }

  @media (max-width: 480px){
    font-size: 1.2rem;
    margin: 4rem 0 1rem 0;
  }
}

.column{
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 1168px;
  margin: 0 auto;
  padding: 1rem 16px 0  16px;
  overflow: hidden;

  &#table-holder{
    max-width: 620px;
  }
}

.text-column{
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 620px;
  margin: 0 auto;
  padding: 16px;
  overflow: hidden;
}

.half-column{
  width: calc( ( 100% - 24px )/2 );
  margin: 0;
  padding: 0;
  float: left;
  height: auto;
  overflow: hidden;

  &:first-of-type{
    margin: 0 $inter-column 0 0;
  }

  @media (max-width: 860px){
    width: calc( ( 100% - 24px )/2 );

    &:first-of-type{
      margin: 0 $inter-column-medium 0 0;
    }
  }

  @media (max-width: 768px){
    width: 100%;

    &:first-of-type{
      margin: 0;
    }
  }
}

.quarter-column{
  width: calc( ( 100% - (24px * 3) )/4 );
  margin: 0;
  padding: 0;
  float: left;
  height: auto;
  overflow: visible;

  &:first-of-type{
    margin: 0 $inter-column 0 0;
  }

  label{
    width: 100%;
  }

  @media (max-width: 860px){
    width: calc( ( 100% - 24px )/2 );
    &:first-of-type{
      margin: 0 $inter-column-medium 0 0;
    }
  }

  @media (max-width: 720px){
    width: 100%;
    &:first-of-type{
      margin: 0;
    }
  }
}

.overflow{
  overflow: visible;
}

.full-width{
  position: relative;
  width: 100%;
  min-width: 280px;
  padding: 0;
}

.highlight{
  background: $bg-light;
  margin-top: 3rem;
  overflow-y: visible;
}

p{
  width: 100%;
  display:block;
  font-size: 1.6rem;
  line-height: 1.8em;
  margin: 2rem 0;

  @media (max-width: 480px){
    font-size: 1.5rem;
  }
}

.pagination {
  margin: 2rem 0;

  .page-right{
    width: 24px;
    margin-left: 8px;
  }

  .page-left{
    width: 24px;
    margin-right: 8px;
  }

  button.table-page-bt{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    float: left;
    color: $alt-color;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
    outline: none;

    &.all-right{
      float: right;
      text-align: right;
    }

    &.disabled{
      opacity: 0.3;
      cursor: default;
      color: $primary-color;
    }

    &:hover{
      color: $primary-color;
    }
  }
  ul{
    list-style: none;
    margin:0 3px;
    display: inline-block;
    width: calc( 100% - 54px);
    vertical-align: middle;
    text-align: center;

    li{
      display: inline-block;
      vertical-align: middle;
      height: 22px;
      line-height: 22px;
      margin: 0 2px;
      padding: 0 2px;
      font-size: 1.32rem;
      color: $alt-color;
      text-align: center;
      cursor: pointer;
      border: 1px solid $white;

      &:hover{
        color: $primary-color;
        border: 1px solid $bg-light;
        padding-top: -1px;
      }

      &.active{
        border: 1px solid $alt-color;
        cursor: default;
        color: $primary-color;
      }

      &.invisible{
        display: none;
      }
    }
  }
}

.poll-data{
  overflow: hidden;

  @media (max-width: 720px){
    overflow-x: visible;
  }
}

table{
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333;
  border: none;

  &.poll{
    margin: 0 0 3rem 0;
  }

  &#method-table{
    max-width: 500%;

    td{

      &:nth-child(1){
        min-width: 100px;
        width: 10%;
      }
      &:nth-child(2){
        min-width: 145px;
        width: 14%;
      }
      &:nth-child(3){
        min-width: 145px;
        width: 24%;
      }
      &:nth-child(4),
      &:nth-child(5){
        min-width: 100px;
        width: 10%;
      }
      &:nth-child(6){
        min-width: 145px;
        width: 28%;
      }
    }
  }

  thead{
    font-weight: 500;
    display: none;
    width: 100%;
    margin-top: 5px;

    tr{
      width: 100%;
      td{
        border-left: 1px solid #fff;
        vertical-align: bottom;
      }

    }
  }

  .merged{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.45;
    background: #dae4e5;
    border: none;
  }

  &#method-table{
    thead, tbody{
      display: table;
      text-align: center;

      tr{
        td{
        }
      }
    }

    thead{
      background: none;
      font-size: 1.1rem;
      padding-bottom: 20px;
      border-bottom: 1px solid #dae4e5;
      text-transform: uppercase;

      tr{
        td{
          padding-bottom: 15px;
        }
      }
    }

    tr{
      td{
      }
    }
  }

  &.poll{
    tr{
      td{

        &:nth-child(2){
          width: 80px;
        }
        &:nth-child(3){
          width: 80px;
          text-align: right;
        }
      }
    }

    tbody{
      tr{
        td{
          padding: 8px 10px;
        }
      }
    }
  }

  tbody{
    width: 100%;
    tr{
      width: 100%;
      border-bottom: 1px solid #dae4e5;
      border-right: 1px solid #dae4e5;
      height: 2.1rem;

      td{
        padding: 8px 5px;
        border-left: 1px solid #dae4e5;
        line-height: 1.5rem;
      }

      &.spacer{
        width: 100%;
        background: #fff;
        border: none;

        td{
          border: none;
        }
      }
    }
  }
}

#sample-poll{
  display: hidden;
}

.no-info{
  min-height: calc(100% - 520px);
}

#footer{
  text-align: right;
  padding-bottom: 20px;

  .logo{
    display: inline-block;
    float: right;
    height: 68px;
    width: auto;
    text-align: left;

    &:nth-child(1){
      margin-left: 40px;
    }

    @media (max-width: 480px){
      height: 54px;

      &:nth-child(1){
        margin-left: 30px;
      }
    }

    @media (max-width: 320px){
      height: 48px;

      &:nth-child(1){
        margin-left: 30px;
      }
    }



    span{
      font-size: 1rem;
      margin-bottom: 1.2rem;
      display: block;
    }

    img{
      display: inline-block;
      text-align: left;
      height: calc(100% - 25px);
      margin: 0;
    }


  }
}
*/
.filters {
  font-size: 0px; }

label {
  width: calc( ( 100% - 24px )/2);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 0;
  overflow: visible;
  letter-spacing: 0.05em;
  font-size: 1.7rem;
  line-height: 30px;
  font-family: "Museo", sans-serif !important;
  font-weight: 500;
  color: #222; }
  label:first-of-type {
    margin: 0 24px 10px 0; }
  @media (max-width: 800px) {
    label {
      width: calc( ( 100% - 24px )/2); }
      label:first-of-type {
        margin: 0 24px 10px 0; } }
  @media (max-width: 480px) {
    label {
      width: calc( ( 100% - 20px )/2); }
      label:first-of-type {
        margin: 0 20px 10px 0; } }
  @media (max-width: 380px) {
    label {
      width: 100%; }
      label:first-of-type {
        margin: 0 0 10px 0; } }

.button {
  position: relative;
  display: inline-block;
  z-index: 100;
  cursor: pointer;
  border: none;
  /*1px solid $bg-light;*/
  border-radius: 4px;
  padding: 8px 8px;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 1em;
  /*color: $alt-color;*/
  background: #dae4e5;
  /*$white;*/ }
  .button:focus {
    outline: none;
    /*border: 1px dotted rgba(0,0,0,0.2);*/
    border: none;
    box-shadow: none; }
  .button:hover {
    opacity: 0.75;
    color: #92cc48; }
  .button#plus-button {
    height: 26px;
    width: 30px;
    right: 0px;
    top: 0;
    line-height: 0.1;
    padding: 0px;
    white-space: nowrap;
    text-align: right;
    background: transparent;
    overflow: visible;
    position: absolute;
    margin-left: 5px; }
    .button#plus-button span {
      font-size: 1.1rem;
      line-height: 20px;
      float: right;
      margin-right: 40px; }
      @media (max-width: 420px) {
        .button#plus-button span {
          display: none; } }
    .button#plus-button:after {
      content: "+";
      font-size: 2.1rem;
      line-height: 19px;
      height: 22px;
      width: 22px;
      border-radius: 4px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      background: #dae4e5;
      padding: 2px 2px 2px 3px;
      color: #fff;
      background: #92cc48; }
    .button#plus-button.active:after {
      content: "x";
      text-transform: lowercase; }
  .button#add-button {
    width: 90px;
    height: 36px;
    top: 0;
    position: relative;
    background: #92cc48;
    color: #fff;
    float: right; }
  .button#mun-ok-button {
    width: 100px;
    height: 38px;
    position: relative;
    background: #92cc48;
    color: #fff;
    margin-top: 0; }
  .button#mun-cancel-button {
    width: 100px;
    height: 38px;
    position: relative;
    margin: 0 1rem 0 0;
    margin-top: 0; }

.select-box, .search-box {
  position: relative;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .6rem;
  border: 1px solid #eeedf4;
  background: transparent url("../images/arrow-down.svg") no-repeat center right;
  background-size: 30px auto;
  font-size: 1.7rem;
  line-height: 30px;
  box-sizing: border-box;
  padding-right: 20px;
  cursor: pointer; }
  .select-box select, .select-box input, .search-box select, .search-box input {
    color: #5a44a0;
    cursor: pointer;
    position: relative;
    opacity: 0.99;
    font-size: 1.7rem;
    line-height: 30px;
    z-index: 1;
    margin: 0;
    width: calc(100% + 20px);
    height: 38px;
    padding: 2px 15px 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Museo", sans-serif !important;
    font-weight: 300;
    border-radius: 0;
    box-sizing: border-box; }
    .select-box select:focus, .select-box input:focus, .search-box select:focus, .search-box input:focus {
      border: 1px solid #5a44a0;
      box-shadow: none;
      outline: none !important;
      border-radius: 0; }

.search-box {
  background: #eeedf4; }

.table-holder {
  overflow: hidden; }

.chart-info.hidden {
  display: none; }

.no-info.hidden {
  display: none; }

/* slider
.slider-container{
  margin: 0 auto 1rem auto;
  padding-top: 0px;
  min-height: 40px;
  clear: both;

  .slider {
    display: block;
    position: relative;
    height: 45px;
    overflow: visible;
    width: calc(100% - 10px);
    margin: 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: visible;

    @media (max-width: 720px){
      width: calc(100% - 20px);
      margin: 2rem 5px 0 5px;
    }
  }

  .city-box{
    display: none;
  }

  &.on-city{

    .slider{
      width: calc( 100% - ( 24px + 25%) );
      float: left;

      @media (max-width: 800px){
        width: calc( 100% - 20px );
        float: auto;
        clear: both;
        margin: 2rem 5px 0 5px;
        width: calc(100% - 10px);
      }
    }

    .city-box{
      display: block;
    }
  }
}

.slider .slider-touch-left,
.slider .slider-touch-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 36px;
  width: 36px;
  left: 0;
  margin-left: -18px;
  padding: 6px;
  z-index: 2;
  cursor: pointer;
  overflow: visible;
}
.slider .slider-touch-right{
  left: 50%;
}
.slider .slider-touch-left span.marker,
.slider .slider-touch-right span.marker {
  display: block;
  position: absolute;
  width: 35%;
  height: 35%;
  background: $alt-color;
  border: 1px solid $white;
  border-radius: 3px;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider .slider-touch-left span.text,
.slider .slider-touch-right span.text {
  display: block;
  position: absolute;
  width: 50px;
  height: 15px;
  top:0;
  left: 10px;
  letter-spacing: 0.03em;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  color: $alt-color;
  background: $white;
  padding: 2px;
  z-index:-1;

  &.end{
    right: 10px;
    left: auto;
    text-align: right;
  }
}
.slider .slider-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0px;
  top: 27px;
  height: 2px;
  border-radius: 2px;
  background: #E0E0E0;
  z-index: 0;
  overflow: hidden;

  span {
    display: block;
    height: 2px;
    width: 50%;
    margin-top: 0px;
    background: $alt-color;
  }
}

.slider .slider-ruler{
  width: 100%;
  height: 10px;
  z-index: 0;
  top:18px;
  position: absolute;
  font-size: 0;

  span{
    display: inline-block;
    position: relative;
    height: 10px;
    border-right: 1px solid #E0E0E0;
    margin: 0;
    width: 100%;
    overflow: visible;

    b{
      text-align: center;
      display: block;
      position: absolute;
      font-size: 1.1rem;
      color: #E0E0E0;
      width: 150%;
      height: 15px;
      top: -15px;
      padding-left: 50%;
    }
  }
}

.overlay{
  position: relative;
  display: block;
  z-index: 100000;

  &.hidden{
    display: none;
  }

  &:before{
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    position: fixed;
    background: rgba(255,255,255,0.85);
    z-index: 0;
  }

  .lightbox{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    background: $white;//$bg-light;
    padding: 20px;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    border: 1px solid $alt-color;
    width: 100%;
    min-height: 100px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
    transform: translate(-50%, 0px);
    text-align: right;

    .explainer{
      font-size: 1.35rem;
      letter-spacing: 0.04rem;
    }

    label{
      text-align: left;

      &.buttons{
        text-align: right;
      }

      @media (max-width: 520px){
        width: 100%;

        &.buttons{
          text-align: right;
          margin-top: 1rem;
        }

        button{
          max-width: 80px;
          font-size: 1.1rem;
        }
      }
    }

    p{
      margin: 0.5rem 0 2rem 0;
      text-align: left;
    }
  }
}*/
